.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal_opened{
    visibility: visible;
}

.modal__content{
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    padding: 34px 36px 28px;
    border-radius: 16px;
    max-width: 432px;
    box-sizing: border-box;
    width: 100%;
}

.modal__close{
    position: absolute;
    top: -40px;
    right: -40px;
    background-image: url("../../assets/close-icon.svg");
    background-color: transparent;
    height: 40px;
    width: 40px;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.modal__title{
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    color: rgba(26, 27, 34, 1);
    margin: 0 0 22px;
}

.modal__form{
    display: flex;
    flex-direction: column;
    gap: 31px;
    width: 100%;
}

.modal__label{
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1;
    color: rgba(47, 113, 229, 1);
}

.modal__input{
    all: unset;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 9px 0 10px;
    color: rgba(0, 0, 0, 1);
}

.modal__input:focus{
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.modal__input::placeholder{
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    color: rgba(0, 0, 0, 0.2);
}

.modal__error{
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    color: rgba(255, 0, 0, 1);
    margin-top: 5px;
}

.modal__submit{
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    width: 360px;
    background-color: rgba(47, 113, 229, 1);
    color: rgba(255, 255, 255, 1);
    padding: 20px 0;
    border: none;
    border-radius: 100px;
    margin-top: 8px;
    cursor: pointer;
}

.modal__submit_type_disabled{
  background-color: rgba(230, 232, 235, 1);
  color: rgba(182, 188, 191, 1);
  cursor: not-allowed;
}

.modal__submit-secondary{
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    background-color: transparent;
    color: rgba(47, 113, 229, 1);
    border: none;
    border-radius: 4px;
    display: block;
    margin: 16px auto 0;
    padding: 0;
    cursor: pointer;
}

.modal__submit-secondary-or{
    color: rgba(0, 0, 0, 1);;
    margin: 0;
    padding-right: 4px;
}