@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/inter-400-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/roboto-400-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/roboto-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/roboto-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/roboto-900.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Slab";
  src: url("../../assets/fonts/roboto-slab-400-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Slab";
  src: url("../../assets/fonts/roboto-slab-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.page__wrapper{
  background-color: rgba(255, 255, 255, 1);
}

.page{
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  justify-content: space-between;
}