.footer{
    margin: 0;
    padding: 26px 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__details{
    color: rgba(182, 188, 191, 1);
    margin: 0;
    font-size: 16px;
}

.footer__nav{
    display: flex;
    align-items: center;
}

.footer__nav-links{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__site-links{
    display: flex;
}

.footer__item{
    margin: 0;
}

.footer__link_type_home{
    all: unset;
    color: rgba(26, 27, 34, 1);
    cursor: pointer;
}

.footer__link_type_tripleten{
    all: unset;
    margin-left: 40px;
    color: rgba(26, 27, 34, 1);
    cursor: pointer;
}

.footer__social-links{
    display: flex;
}

.footer__link_type_github{
    all: unset;
    background: center / cover no-repeat url(../../assets/github-icon.svg);
    height: 24px;
    width: 24px;
    margin-left: 40px;
    display: inline-block;
    cursor: pointer;
}

.footer__link_type_facebook{
    all: unset;
    background: center / cover no-repeat url(../../assets/facebook-icon.svg);
    height: 24px;
    width: 24px;
    margin-left: 24px;
    display: inline-block;
    cursor: pointer;
}

@media (max-width: 768px) {
    .footer{
        padding: 20px 40px;
    }
}

@media (max-width: 675px) {
    .footer{
        display: flex;
        flex-direction: column-reverse;
        padding: 20px 16px 22px;
    }

    .footer__details{
        padding-top: 38px;
    }

    .footer__nav{
        width: 100%;
    }

    .footer__nav-links{
        width: 100%;
        justify-content: space-between;
    }

    .footer__site-links{
        flex-direction: column;
    }

    .footer__link_type_home{
        display: block;
        margin-bottom: 24px;
    }
    
    .footer__link_type_tripleten{
        padding-top: 20px;
        margin: 0;
    }
}